<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Page</title>
</head>
<body>
  <h1>Search Videos</h1>
  <form id="form1" action="/video">
    <label for="title"> Title </label>
    <input type="text" name="title" placeholder="title">
    <input type="submit">
    
  </form>

  <form id="form2" action="/video">
    <label for="description"> Description </label>
    <input type="text" name="description"placeholder="description">
    <button type="submit" > submit </button>
  </form>
</body>
<script>
</script>
</html>